body {
  background-color: rgb(204, 204, 204);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  text-align: center;
}

.playlist-box {
  background-color: white;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

li {
  margin: 5px 0;
}

.player_one, .player_two {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin: 10px auto;
  border: 2px solid black;
  text-align: center;
}

video, audio {
  width: 100%;
  border-radius: 8px;
}
